body{
  color: #4d4d4d;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
}

.wrapper{
  max-width: 1170px;
  margin: 0 auto;
}

h1{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  line-height: 50px;
}

h1 .lg{
  font-size: 45px;
  font-weight: 700;
  line-height: 80px;
  display: block;
}

h1 .sm{
  font-size: 25px;
  font-weight: 300;
  line-height: 60px;
}

.btn{
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 35px;
}

.btn:hover{
  background-color: #f39c12;
  color: #fff;
  text-decoration: none;
  background-color: #f39c12;
}

header{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 99;
}

.logo a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.header-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu{
  list-style: none;
  display: flex;
}

.menu_item{
  margin-left: 65px;
}

.menu_link{
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.menu_link:hover{
  color: #0d0d0d;
}

.banner{
  padding-top: 280px;
  padding-bottom: 150px;
  text-align: center;
  height: 853px;
  background: url("../img/bg.jpg") no-repeat center top;
}
